html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #130f40;
  color: #fff;
}

	.map-responsive{
    overflow:hidden;
    padding-bottom:400px;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:400px;
    width:100%;
    position:absolute;
} 
.star-rating {
  font-family: 'FontAwesome';
}
.star-rating > .rating {
  border: none;
  display: inline-block;
}
.star-rating > .rating:not(:checked) > input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.star-rating > .rating:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  color: #16a085;
}
.star-rating > .rating:not(:checked) > label:before {
  content: '\f006  ';
}
.star-rating > .rating:not(:checked) > label:hover,
.star-rating > .rating:not(:checked) > label:hover ~ label {
  color: #1abc9c;
  text-shadow: 0 0 3px #1abc9c;
}
.star-rating > .rating:not(:checked) > label:hover:before,
.star-rating > .rating:not(:checked) > label:hover ~ label:before {
  content: '\f005  ';
}
.star-rating > .rating > input:checked ~ label:before {
  content: '\f005  ';
}
.star-rating > .rating > label:active {
  position: relative;
}

.login-page {
  width:350px;
  }

@media only screen and (min-width: 601px) {
    .smartphone{
      display: none;
    }
    .round{
      border-radius: 0;
    }
}
@media only screen and (max-width: 600px) {
  /*  .modal-dialog {*/
  /*  width: 100%;*/
  /*  height: 100%;*/
  /*  margin: 0;*/
  /*  padding: 0;*/
  /*}*/
  /* .modal-content {*/
  /*height: auto;*/
  /*min-height: 100%;*/
  /*border-radius: 0;*/
  /*}*/
  .desktop{
    display: none;
  }
  .login-page{
  width:95%;
  }
}





.profile-pic {
	position: relative;
}
.avatar{
  background-color:#ffffff;
  width:80px;
  height:80px;
  border-radius:50px;
  position: relative;
  border: solid 2px #30336b;
  padding: 3px; 
  background-clip: content-box; /* support: IE9+ */
  background-color: tranparent;
}
.border-avatar {
  border: solid 1px #95afc0;
  padding: 3px;
}

.profile-info p{
  margin-top:15px;
  color:#fff;
  font-size:15px;
  line-height:0.5;
  text-align:center;
}

.btn-group-justified {
  display: flex;
}
.btn-group-justified .btn {
  flex-grow: 1;
}


.chip {
    display: inline-block;
    padding: 1px 10px;
    height: 20px;
    font-size:80%;
    margin-right: 3px;
    border-radius: 25px;
}

.kelas{
  background-color: #8e44ad;
  color:#fff;
}
.hadir{
  background-color: #1abc9c;
  color:#fff;
}
.absen{
  background-color: #e74c3c;
  color:#fff;
}
.level{
  background-color:#1abc9c;
  color:#fff;
}
.mapel{
  background-color: #f39c12;
  color:#fff;
}
.nilai{
  width:32px;
  height:32px;
  background-color: #130f40;
  font-size:15px;
  color:#fff;
}

* { box-sizing: border-box; }

small a{
  text-decoration:none;
  color: inherit;
}
small a:hover{
  text-decoration:none;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;

  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 110%;
  left: 0;
  right:0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #e9e9e9;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #f0f0f0;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

